{{#if @outletArgs.condition}}
  <div class="custom-loader-container">
    <div class="pumpkin-loader">
      <svg
        class="svg-pumpkin"
        xmlns="http://www.w3.org/2000/svg"
        width="200px"
        height="200px"
        viewBox="0 0 448 512"
      >
        <g>
          <path
            style="fill:#FF8800;"
            d="M253.727,87.509c-5.242-6.148-10.734-10.836-16.471-14.172
      c17.591,20.113,27.295,54.711,25.497,91.229c-0.991,20.172-4.554,35.213-10.308,47.088c10.573-12.846,17.282-28.164,20.188-45.73
      c0.896-6.02,1.363-12.086,1.363-18.16C273.997,123.956,267.263,103.392,253.727,87.509L253.727,87.509z"
          />
          <path
            style="fill:#FF8800;"
            d="M230.256,69.979c-6.399-2.445-13.09-3.362-20.067-2.883c-11.172,0.77-21.605,5.172-31.267,13.114
      c6.296,7.793,11.446,17.454,15.255,28.345l8.906-3.152c0.869,7.558-0.615,13.96-4.455,19.208
      c2.613,12.386,3.678,25.776,2.974,39.448c-1.871,36.315-12.864,55.229-30.494,69.254c6.207,6.097,12.874,9.443,19.999,10.021
      c14.205,1.105,29.424-3.989,45.58-16.509c10.413-14.453,17.026-30.831,18.455-59.906C256.942,130.28,247.136,93.378,230.256,69.979
      L230.256,69.979z"
          />
          <path
            style="fill:#FF8800;"
            d="M172.118,77.969c-8.562-4.324-17.678-6.922-27.342-7.918c0.557-3.423,1.562-6.749,3.049-10.022
      c3.701-7.532,9.535-13.636,17.48-18.511c-6.004-3.623-12.016-7.277-18.037-11.002c-17.401,8.674-26.823,22.049-28.324,41.118
      c-5.455,1.224-10.66,2.965-15.617,5.253c-7.227,10.472-13.006,23.384-16.94,37.571l15.781,5.626
      c-4.628,9.261-11.278,13.975-19.927,14.141c-1.237,8.509-1.835,17.257-1.713,26.038c1.825,0.64,3.853,1.29,6.082,1.948
      l11.384,14.588l10.103-10.545c5.068,0.752,9.884,1.199,14.413,1.365l11.441,12.307l10.351-12.791
      c3.809-0.184,7.796-0.549,11.969-1.079l10.621,10.874l11.701-15.228c5.805-1.321,11.012-2.73,15.605-4.21
      c-0.029-8.955-0.797-17.85-2.226-26.47c-1.345,0.946-2.81,1.835-4.394,2.665c-2.362,0.911-4.988,1.364-7.887,1.364
      c-8.705,0-15.508-4.726-20.391-14.153l28.017-9.915C183.575,98.64,178.417,87.367,172.118,77.969L172.118,77.969z"
          />
          <path
            style="fill:#FF8800;"
            d="M95.737,80.278c-9.676-7.97-20.042-12.38-31.103-13.134c-3.493-0.236-6.922-0.118-10.293,0.367
      c-17.172,23.868-27.181,61.922-25.362,99.701c1.687,35.038,10.581,52.025,24.424,69.032c10.481,5.56,20.505,7.78,30.052,7.04
      c7.21-0.571,13.914-3.916,20.14-9.98c-17.392-13.836-28.318-32.443-30.403-67.822c-0.716-2.885-1.122-5.869-1.218-8.952
      c0.294,0.174,0.607,0.349,0.933,0.522c-0.063-8.211,0.508-16.272,1.666-24.025l-0.428-0.159
      c-11.956-6.166-17.136-15.593-15.497-28.299l20.753,7.398C83.285,99.713,88.814,88.864,95.737,80.278L95.737,80.278z"
          />
          <path
            style="fill:#FF8800;"
            d="M108.114,234.158c9.931,4.682,19.283,7.01,28.048,6.998c10.196-0.012,20.917-2.953,32.146-8.895
      c14.561-16.392,23.944-32.226,25.682-65.957c0.058-1.123,0.102-2.246,0.136-3.367c-4.398,15.125-15.377,26.953-32.923,35.494
      l-9.8-8.98l-8.153,13.863c-3.631,0.364-7.081,0.55-10.345,0.55c-4.71,0-9.242-0.282-13.602-0.834l-9.242-16.024l-9.794,10.605
      c-5.254-2.906-9.792-6.267-13.602-10.076c-1.535-1.444-2.947-2.928-4.241-4.449C86.227,206.903,95.307,220.064,108.114,234.158
      L108.114,234.158z"
          />
          <path
            style="fill:#FF8800;"
            d="M49.79,68.403c-10.238,2.543-19.896,8.674-28.972,18.892C6.899,102.943,0,122.942,0,145.821
      c-0.008,6.818,0.722,13.534,2.197,20.055c4.916,24.386,16.479,44.274,34.847,59.233c1.625,1.346,3.241,2.613,4.846,3.803
      c-11.779-14.082-19.037-33.205-20.524-64.102C19.473,125.481,30.358,88.334,49.79,68.403L49.79,68.403z"
          />
        </g>
        <g> </g>
        <g> </g>
        <g> </g>
        <g> </g>
        <g> </g>
        <g> </g>
        <g> </g>
        <g> </g>
        <g> </g>
        <g> </g>
        <g> </g>
        <g> </g>
        <g> </g>
        <g> </g>
        <g> </g>
      </svg>
    </div>
  </div>
{{else}}
  {{yield}}
{{/if}}